
<div class="form-group">
  <input type="text" placeholder="Nombre Cliente" value="{{client.nombre}}" [(ngModel)]="client.nombre"/>
</div>
<div class="form-group">
  <input type="text" placeholder="Logo " value="{{client.imagen}}" [(ngModel)]="client.imagen"/>
</div>
<div class="form-group">
  <input type="text" placeholder="Color HEX" value="{{client.color}}" [(ngModel)]="client.color"/>
</div>
<div class="clearfix"></div>
<div class="categories-selector">
  <p>Categorías:  <a (click)="toggleClass()">- selecccionar -</a></p>
  <div class="categories-selected">
    <p class="chip" href="#"><span>planeación y estrategia</span><a class="glyphicon glyphicon-remove"></a></p>
  </div>
  <!--Selector de categorias-->
  <div class="asigna-cat" [class.active]="activeS">
    <p>Todas</p>
    <p>a</p>
    <p>b</p>
    <p>c</p>
    <p>d</p>
    <p>e</p>
    <p>f</p>
    <p>g</p>
    <p class="active">planeación y estrategia</p>
    <p>i</p>
    <p>i</p>
    <p>i</p>
  </div>
  <!--/-Selector de categorias-->
</div>
<div class="clearfix"></div>
<button class="btn btn-submit btn-full" type="button" *ngIf="idClient == null || idClient == ''" (click)="setClient()">Crear Cliente</button>
<button class="btn btn-submit btn-full" type="button" *ngIf="idClient != null &amp;&amp; idClient != ''" (click)="setClient()">Editar Cliente</button>
<alert-toast></alert-toast>