
<div class="form-group">
  <input type="text" placeholder="Nombre Cliente" value="{{client.nombre}}" [(ngModel)]="client.nombre"/>
</div>
<div class="form-group">
  <input type="text" placeholder="Logo " value="{{client.imagen}}" [(ngModel)]="client.imagen"/>
</div>
<div class="form-group">
  <input type="text" placeholder="Color HEX" value="{{client.color}}" [(ngModel)]="client.color"/>
</div>
<div class="clearfix"></div>
<div class="categories-selector">
  <div class="categories-selected">
    <p class="chip" href="#"><span>planeación y estrategia</span><a class="glyphicon glyphicon-remove"></a></p>
  </div>
  <div class="form-group form-select">
    <label for="asignaCat">Categorías:</label>
    <select id="asignaCat" name="asignaCat" multiple="multiple">
      <option value="">Todas</option>
      <option value="">a</option>
      <option value="">b</option>
      <option value="">c</option>
      <option value="">d</option>
      <option value="">e</option>
      <option value="">f</option>
      <option value="">g</option>
      <option value="">planeación y estrategia</option>
      <option value="">i</option>
    </select>
  </div>
</div>
<div class="clearfix"></div>
<button class="btn btn-submit btn-full" type="button" *ngIf="idClient == null || idClient == ''" (click)="setClient()">Crear Cliente</button>
<button class="btn btn-submit btn-full" type="button" *ngIf="idClient != null &amp;&amp; idClient != ''" (click)="setClient()">Editar Cliente</button>
<alert-toast></alert-toast>