
<div class="form-group">
  <input type="text" placeholder="Nombre Cliente" value="{{client.nombre}}" [(ngModel)]="client.nombre"/>
</div>
<figure class="client-brand" [style.background-color]="client.color" *ngIf="client.imagen != undefined"><img src="assets/images/{{client.imagen}}" title="{{client.nombre}}" alt="{{client.nombre}}"/></figure>
<div class="form-group">
  <input type="hidden" placeholder="Logo " value="{{client.imagen}}" [(ngModel)]="client.imagen" (change)="fileChange($event)" accept=".png,.jpg,.jpeg"/>
  <input type="file" placeholder="Logo " (change)="fileChange($event)" accept=".png,.jpg,.jpeg"/>
</div>
<div class="form-group">
  <input type="text" placeholder="Color HEX" value="{{client.color}}" [(ngModel)]="client.color"/>
</div>
<div class="clearfix"></div>
<div class="categories-selector">
  <p>Categorías:  <a (click)="toggleClass()">- selecccionar -</a></p>
  <div class="categories-selected">
    <ng-container *ngFor="let catCliente of categoriasCliente; let keyCatCliente = index">
      <p class="chip" *ngIf="catCliente.active"><span>{{catCliente.nombre}}</span><a class="glyphicon glyphicon-remove" (click)="toogleCateogriaCliente('i',keyCatCliente)"></a></p>
    </ng-container>
  </div>
  <!--Selector de categorias-->
  <div class="asigna-cat" [class.active]="activeS"><a class="glyphicon glyphicon-remove" (click)="toggleClass()"></a>
    <p *ngFor="let catCliente of categoriasCliente; let keyCatCliente = index" (click)="toogleCateogriaCliente('inv',keyCatCliente)" [class.active]="catCliente.active">{{catCliente.nombre}}</p>
  </div>
  <!--/-Selector de categorias-->
</div>
<div class="clearfix"></div>
<button class="btn btn-submit btn-full" type="button" *ngIf="idClient == null || idClient == ''" (click)="setClient()">Crear Cliente</button>
<button class="btn btn-submit btn-full" type="button" *ngIf="idClient != null &amp;&amp; idClient != ''" (click)="setClient()">Editar Cliente</button>
<alert-toast></alert-toast>