header.container-fluid.container-admin
	div.row
		//Logo brm login
		div.logo
			include ../../includes/logo-brm.svg
		///-Logo brm login

		h1.login Administrador
		

//Login
div.container-fluid.container-login
	div.row
		div.col-login
			//- div.form-group((click)="this.active = !this.active", [class.active]="this.active")
			div.form-group.form-user((click)="this.activeI = !this.activeI", [class.active]="this.activeI")
				//- label(for="usuario") Usuario
				input(type="text", [(ngModel)]="usuario", id="usuario", placeholder="Usuario")

			//- div.form-group((click)="this.aca = !this.aca", [class.active]="this.aca")
			div.form-group.form-pass((click)="this.activeO = !this.activeO", [class.active]="this.activeO")
				//- label(for="pass") Contraseña
				input(type="password", [(ngModel)]="contrasena", id="pass", placeholder="Contraseña")


			button.btn.btn-submit((click)="login()") Aceptar
///-Login




