include ../../includes/header-admin


section.container-fluid.container-dashboard
	div.row
			
		h1.text-intro.text-dashboard Encuestas BRM
		
		p.text-dashboard.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda temporibus velit perspiciatis quo explicabo cum provident dolor voluptate voluptas, dolores ipsum ipsam voluptatibus, molestiae sunt, ab iste. Minima, non, veritatis.

		button.btn.btn-section.btn-full((click)="goToClients()") Clientes
		button.btn.btn-section.btn-full((click)="goToCategories()") Categorías &amp; preguntas
		button.btn.btn-section.btn-full((click)="goToReports()") Reportes