include ../../includes/mixins
include ../../includes/header-admin

section.container-fluid.container-reports
		
	div.row.row-periods

		h1.text-intro
			| Resultados
		

		//Año
		div.form-group
			//- label(for="year") Año
			div.form-select
				select#year(name="year")
					option(value="") - año -

		///-Año

		//Año
		div.form-group
			//- label(for="period") Periodo
			div.form-select
				select#period(name="period")
					option(value="") - periodo -

		///-Año

//Reporte completo
section.container-fluid.container-reports

	div.row

		div.table-responsive
			table.table
				//titulos
				thead
					tr
						th.first() &nbsp;
						//Investigacion
						th.title-categoria
							h4 investigación y análisis
						///-Investigacion
						//Cuentas
						th.title-categoria
							h4 manejo de cuentas
						///-Cuentas
						//planeacion
						th.title-categoria
							h4 planeación y estrategia
						///-planeacion
						//data
						th.title-categoria
							h4 data processing
						///-data
						//Creatividad
						th.title-categoria
							h4 creatividad
						///-Creatividad
						//relacion - cliente
						th.title-categoria
							h4 equipo relación cliente
						///-relacion - cliente
						//Financiero
						th.title-categoria
							h4 manejo financiero
						///-Financiero
						//compras
						th.title-categoria
							h4 producción compras
						///-compras
						//tech
						th.title-categoria
							h4 tecnología innovación
						///-tech
						//Total marca
						th.title-categoria
							h4 total marca
						///-Total marca
				///-titulos

				//resumen marca
				tbody
					-for(z=0; z < 4; z++)
						tr
							//Nombre marca
							td.marca-list.first((click)="clickMarca()", ): h3.title-marca hola marca ultra larga bebé
							//Nombre marca
						
							-for(y=0; y < 10;y++)
								//Data
								td.data-categoria
									p.number #{y}%
								///-Data

				///-resumen marca

				//Totales
				tfoot.totales
					tr
						td.first(): h4 total categoría
						-for(x=0; x < 9;x++)
							//Data
							td.data-total-categoria
								p.number #{x}%
							///-Data
						
						td &nbsp;

				///-Totales

		
		//Total periodo
		div.col-total
			h3.text-intro total periodo
			h2.total-perc 50,56%

		///-Total periodo

///-Reporte completo
