include ../../includes/mixins
include ../../includes/header-admin

section.container-fluid.container-reports
		
	div.row.row-periods

		h1.text-intro
			| Resultados
		

		//Año
		div.form-group
			label(for="year") Año
			select#year(name="year")
				option(value="") - año -

		///-Año

		//Año
		div.form-group
			label(for="period") Periodo
			select#period(name="period")
				option(value="") - 

		///-Año

//Reporte completo
section.container-fluid.container-reports

	div.row

		div.table-responsive
			table.table
				//titulos
				thead
					tr
						td.first() &nbsp;
						//Investigacion
						td.title-categoria
							h4 investigación y análisis
						///-Investigacion
						//Cuentas
						td.title-categoria
							h4 manejo de cuentas
						///-Cuentas
						//planeacion
						td.title-categoria
							h4 planeación y estrategia
						///-planeacion
						//data
						td.title-categoria
							h4 data processing
						///-data
						//Creatividad
						td.title-categoria
							h4 creatividad
						///-Creatividad
						//relacion - cliente
						td.title-categoria
							h4 equipo relación cliente
						///-relacion - cliente
						//Financiero
						td.title-categoria
							h4 manejo financiero
						///-Financiero
						//compras
						td.title-categoria
							h4 producción compras
						///-compras
						//tech
						td.title-categoria
							h4 tecnología innovación
						///-tech
						//Total marca
						td.title-categoria
							h4 total marca
						///-Total marca
				///-titulos

				//resumen marca
				tbody
					tr
						td.first((click)="clickMarca()", ): h3.title hola marca ultra larga bebé
					
						-for(y=0; y < 10;y++)
							//Data
							td.data-categoria
								p.number #{y}%
							///-Data

				///-resumen marca

				//Totales
				tfoot
					tr
						td.first(): h4 total categoría
						-for(x=0; x < 9;x++)
							//Data
							td.data-total-categoria
								p.number #{x}%
							///-Data
						
						td &nbsp;

				///-Totales

		
		//Total periodo
		div.col-total
			h3.text-intro total periodo
			h2.total-perc 50,56%

		///-Total periodo

///-Reporte completo
