include ../../includes/mixins
include ../../includes/header-admin

section.container-fluid.container-reports.all
		
	div.row.row-periods

		h1.text-intro
			| Resultados
		

		//Año
		div.form-group
			//- label(for="year") Año
			div.form-select
				select#year(name="year")
					option(value="") - año -

		///-Año

		//Año
		div.form-group
			//- label(for="period") Periodo
			div.form-select
				select#period(name="period")
					option(value="") - periodo -

		///-Año

//Reporte completo
section.container-fluid.container-reports.all

	div.row

		div.table-responsive
			table.table.table-results
				//titulos
				thead
					tr
						th.first()

						th.title-categoria(*ngFor="let categoria of categorias")
							h4 {{categoria.categoria}}

						//Total marca
						th.title-categoria
							h4 total marca
						///-Total marca
				///-titulos

				//resumen marca
				tbody
					tr(*ngFor="let encuesta of encuestas")
						//Nombre marca
						th.marca-list.first((click)="clickMarca()", ): h3.title-marca {{encuesta.cuenta}} {{encuestas[0].categorias[0].categoria}}
						//Nombre marca

						//Data
						td.data-categoria(*ngFor="let cate of encuesta.categorias", data-title="{{cate.categoria}}")
							p.number {{cate.promedioPregunta}}%
						///-Data

						//- //Data
						//- td.data-categoria(data-title="manejo de cuentas")
						//- 	p.number 45%
						//- ///-Data

						//- //Data
						//- td.data-categoria(data-title="planeación y estrategia")
						//- 	p.number 25%
						//- ///-Data

						//- //Data
						//- td.data-categoria(data-title="data processing")
						//- 	p.number 15%
						//- ///-Data

						//- //Data
						//- td.data-categoria(data-title="creatividad")
						//- 	p.number 75%
						//- ///-Data

						//- //Data
						//- td.data-categoria(data-title="equipo relación cliente")
						//- 	p.number 95%
						//- ///-Data
						
						//- //Data
						//- td.data-categoria(data-title="manejo financiero")
						//- 	p.number 55%
						//- ///-Data

						//- //Data
						//- td.data-categoria(data-title="producción compras")
						//- 	p.number 5%
						//- ///-Data

						//- //Data
						//- td.data-categoria(data-title="tecnología innovación")
						//- 	p.number 5%
						//- ///-Data

						//Data
						td.data-categoria(data-title="total marca")
							p.number {{encuesta.total}}
						///-Data



				///-resumen marca

				//Totales
				tfoot.totales
					tr
						td.first(): h4 total categoría
						-for(x=0; x < 9;x++)
							//Data
							td.data-total-categoria
								p.number #{x}%
							///-Data
						
						td

				///-Totales

		
		//Total periodo
		div.col-total
			h3.text-intro total periodo
			h2.total-perc 50,56%

		///-Total periodo

///-Reporte completo
