include ../../includes/mixins

div
	input(placeholder="Nombre")
	input(placeholder="Seleccionar imagen")
	button.btn.btn-submit((click)="goToReports()") Crear Cliente

div(*ngFor="let cliente of clientes")
	img((click)="goToClient(cliente.idCuenta)", src="assets/images/{{cliente.imagenCuenta}}", alt="{{cliente.nombreCuenta}}")
	div(*ngFor="let usuario of cliente.usuarios")
		span((click)="goToUserClient(usuario.idUsuario)") {{usuario.nombreUsuario}} {{usuario.apellidoUsuario}}
	b Crear Usuario