include ../../includes/mixins
include ../../includes/header-admin



section.container-fluid.container-clients

	
	div.row.row-create
		//Crear clientes
		a.btn.btn-blue((click)="toggleClass()", [class.active]="activeS")
			i.glyphicon.glyphicon-plus
			| Nuevo cliente

		article.client-create([class.active]="activeS")
			form-client
		///-Crear clientes

	
	//Listado de clientes BRM
	div.row.row-client-list

		//Cliente	

		article.client.client-item(*ngFor="let cliente of clientes")
			//Logo Marca
			//- figure.marca(style="background:#")
			//- 	img((click)="goToClient(cliente.idCuenta)", src="assets/images/{{cliente.imagenCuenta}}", alt="{{cliente.nombreCuenta}}")

			//Logo Marca
			figure.client-brand(style="background-color:#e8252b")
				+image('{{cliente.imagenCuenta}}', '{{cliente.nombreCuenta}}')((click)="goToClient(cliente.idCuenta)")
			///-Logo Marca


			///-Logo Marca
			//Usuario por marca
			aside.client.client-user
				h3 Usuarios registrados:
				div.user(*ngFor="let usuario of cliente.usuarios")
					p((click)="goToUserClient(usuario.idUsuario)") {{usuario.nombreUsuario}} {{usuario.apellidoUsuario}}
			
			///-Usuario por marca
			a.btn.btn-create() Registrar Usuario
		
		///-Cliente

	///-Listado de clientes BRM