.categoria-rep
    make-sm-column(8)
    make-sm-column-offset(2)
    

.client
	&-create,
	&-edit
		make-sm-column(8)
		make-sm-column-offset(2)
	

	&-item
		make-sm-column(6)
		make-md-column(4)
		

.row-periods
	.form-group
		make-sm-column(3)
		
		&:nth-of-type(1)
			make-sm-column-offset(3)
			