.container
	&-clients
		
		.row-create
			clear both
			margin 2rem auto

	&-dashboard
		text-align center
		padding-bottom 3rem
		padding-top @padding-bottom
	

	&-reports
		margin 9rem auto 1rem
		
		&.all
			margin-top 1rem