.container-admin
	.btn-logout
		background-color rgba(black,0.5)
		border 1px solid white
		color white
		position absolute
		right 0.5rem
		top 0.5rem
		
		
	.logo
		background-color transparent
		box-shadow none
		max-width 20rem
		svg
			path
				fill #ffffff