@media (min-width:$screen-sm)
	.container
		&-reports
			margin 1rem auto
			

	.categoria
		&-resume
			position relative
			
			.text-cuenta,
			.categoria-total
				display inline-block
				vertical-align middle
				width: 48%
			
			.text-cuenta
				font-size 2rem
				text-align left
			
		&-total
			font-size 2rem
			text-align right
			strong
				display block
			