.table
	text-align center
	
	&-responsive
		overflow auto
	
	tr,
	tbody,
	tfood,
	thead
		display block
		transitionBase()

		td,
		th
			border none !important
			display block
			padding 0.5rem !important
			position relative
			transitionBase()
			white-space normal !important
			vertical-align middle !important
			
		&:emtpy
			display none
			
	
	tbody
		th
			background-color $Azul
			
			h3
				color white
				
	thead
		display none
		
	.data-categoria
		border-bottom 1px dotted $Gris[2] !important
		position relative	
		
		&::before
			content attr(ng-reflect-title)
			left 0.5rem
			position absolute
			text-align left
			text-transform uppercase
			font-weight $Bold
			top 50%
			transform translateY(-@top)
			
		&:nth-last-of-type(1)
			background-color $Gris[2]
			color white

		.number
			text-align right

	.first
		&:emtpy
			display none

	.totales
		display none
@media (min-width:$screen-sm)


	.table
		text-align center
		overflow hidden
		
		tr,
		tbody,
		tfood,
		thead
			transitionBase()
			td,
			th
				display table-cell
				position relative
				transitionBase()
				vertical-align middle !important
				width (98%/12)

				&::after
					background-color $Azul
					content ''
					height 1000rem
					opacity 0
					left 0
					transitionBase()
					position absolute
					top -500rem
					width 100%
					z-index: -1
			

				&:not(.first)
					&:hover
						background-color transparent
						h3,
						h4
							color white
						&::after
							opacity 0.99
							
					&:emtpy
						display table-cell

	
		thead
			display table-header-group
			

		tr
			display table-row
			
			&:hover
				background-color $Azul
				color white
				
				td,
				th
					color white
					

		//sombra
		tbody
			display table-row-group
			th
				text-align center
			tr
				&:nth-of-type(1)
					td
						&:nth-of-type(1)
							box-shadow 0 -5px 5px -5px rgba(0, 0, 0, 0.25),
										-5px 0 5px -5px rgba(0, 0, 0, 0.25)
					
						//superiores
						for x in 2..11
							&:nth-of-type({x})
								box-shadow 0 -5px 5px -5px rgba(0, 0, 0, 0.25)
			
				//laterales
				for x in 2..60
					&:nth-of-type({x})
						td
							&:nth-of-type(1)
								box-shadow -5px 0 5px -5px rgba(0, 0, 0, 0.25)
				
							
				&:nth-last-of-type(1)
					td
						//esquina inferior izquierda
						&:nth-of-type(1)
							box-shadow 0 5px 5px -5px rgba(0, 0, 0, 0.25),
										-5px 0 5px -5px rgba(0, 0, 0, 0.25) !important
			
						//bottom
						for x in 2..11
							&:nth-of-type({x})
								box-shadow 0 5px 5px -5px rgba(0, 0, 0, 0.25) !important

				
		.data-categoria
			border none !important
			&::before
				content none
				display none
				
			&:nth-last-of-type(1)
				background-color transparent
				color $Gris[1]

				
			.number
				text-align center

		.totales
			background-color $Gris[3]
			display table-footer-group
			
			h4
				font-size 1.4rem
							
		
		&-responsive
			margin 2rem auto
			
		.first
			background-color transparent
			width 16%
			&:emtpy
				display table-cell
		
		.marca-list
			background-color $Gris[3]
			border-bottom 2px dotted $Gris[1] !important
			
		.title
			&-categoria
				h4
					font-size 0.9rem
					font-weight $Light
					line-height 1
					letter-spacing 0.1rem
					text-align center
					
			&-marca
				color black
				cursor pointer
				font-size 1.3rem