//toast
div.container-toast( [class.active]="activeT")
	div.toast-main
		span.text-toast ya respondió esta encuesta

		
		//Btn de accion
		a.btn.btn-toast((click)="closeToast()") listo
		///-Btn de accion		

///-toast