@media (min-width:460px)
	.opciones
		&.active
			max-width 72%
			

@media (min-width:540px)
	.categoria
		// margin 0 auto
		max-width 87%
		
@media (min-width:$screen-sm)
	.container
		&-encuesta
			margin-top 4rem
			
	.marca
		left 15%
		transform none 

@media (min-width:900px)
	.opciones
		&.active
			max-width 36.6rem
		
		a
			min-width 5.6rem