include ../../includes/mixins
include ../../includes/header-admin


//Logo marca
figure.marca(style="background-color:#e8252b")
	+image('test.png', 'Hola')
//Logo marca


section.container-fluid.container-reports
	div.row

		article.categoria-rep(*ngFor="let encuesta of encuestas")
			h2 {{encuesta.cuenta}}
			div(*ngFor="let categoria of encuesta.categorias" class="categorias categorias-reports")
				| {{categoria.categoria}} {{categoria.porcentajeCategoria}} % | {{categoria.promedioPregunta}}
				div(*ngFor="let usuario of categoria.usuarios" class="usuarios")
					| {{usuario.nombreUsuario}} {{usuario.apellidoUsuario}}
					div(*ngFor="let respuesta of usuario.respuestas" class="respuestas")
						| {{respuesta.pregunta}} -> {{respuesta.puntaje}}
					
			strong Total: {{encuesta.total}}

