div
	input(type="text",placeholder="Nombre", value="{{client.nombre}}",[(ngModel)]="client.nombre")
div
	input(type="text",placeholder="Imagen", value="{{client.imagen}}")

button.btn.btn-submit((click)="editClient()") Editar Cliente