.u-fixed
  position fixed
  z-index 13
  width 100%


.u-overlay-black
  &::before
    background-color #000
    content ''
    cuadrado(100%)
    opacity 0.4
    centrarAb()
    pointer-events none
    z-index 2
