button.close
	color $Azul
	display block
	float none
	font-size 8rem
	font-weight $Light
	height 8rem
	margin 0
	padding 0
	position absolute
	right 0rem
	top 0rem
	width @height
	z-index 6

	span
		display block
		

.btn
	color $Azul
	cursor pointer
	display block
	font-weight $Light
	margin 0 auto
	margin-left 0
	padding-left 0
	position relative
	text-transform uppercase
	transitionBase()
	
	&:hover
		text-decoration none

	&-blue
		background-color $Azul
		border 2px solid $Azul !important
		color white
		
		&:hover
			background-color white
			color $Azul
			

	&-contract,
	&-expand
		cuadrado(2.3rem)
		bottom vr-block(0.5)
		right vr-block(0.5)
		position absolute
		padding 0
		svg
			cuadrado(100%)

			polygon
				transitionBase()
				&:nth-of-type(1)
					transform translate3d(-10%,-10%,0)
				&:nth-of-type(2)
					transform translate3d(10%,10%,0)

		&::after
			display none

		&:hover
			svg
				polygon
					&:nth-of-type(1)
						transform translate3d(0%,0%,0)
					&:nth-of-type(2)
						transform translate3d(0%,0%,0)

	&-contract
		display none
		svg
			polygon
				&:nth-of-type(1)
					transform translate3d(10%,10%,0)
				&:nth-of-type(2)
					transform translate3d(-10%,-10%,0)


	&-default
		background-color $Gris[2]
		color #fff
		display block
		margin 3rem auto
		padding 1rem 2rem
		text-align center
		text-decoration none
		text-transform uppercase
		
		&:hover
			background-color $Amarillo
			color $Azul
			text-decoration none
			

	&-filtro
		background-color $Amarillo
		color $Azul
		font-weight $Normal
		padding 0.6rem 1rem

		&::after
			display none

		svg
			path
				fill $Azul

	&-full
		width 100%
		
	&-login-g
		background-color $Azul !important
		background-image none !important
		color #fff !important
		display block
		float none !important
		font-size 1.8rem
		margin 1rem auto
		opacity 1 !important
		width 30rem !important
		&::after
			content none

		&::before
			content 'Ingresar con Google'
			display inline

		&:hover
			background-color #fff !important
			color $Azul !important
			
	&-logout
		background-color rgba(black,0.5)
		border 1px solid white !important
		color white
		position absolute
		right 0.5rem
		top 0.5rem

	&-vacante
		background-color #fff
		color $Azul

		&::after
			content none
			margin 1rem auto

		&:hover
			background-color $Azul
			color #fff
	&-vacante-completa
		float right
		padding 0 1.2rem
