//marca
.marca
	border-radius 100%
	box-shadow 0px 0px 5px 0px rgba(0, 0, 0, 0.5)
	height 0
	left 50%
	overflow hidden
	padding-bottom 10rem
	position absolute
	top 18.3rem
	transform translateX(-@left)
	width @padding-bottom
	z-index 2
	
	img
		img-responsive(block)
		max-width 7.5rem
		margin 1rem auto
		