footer
  background-color $Azul
  color #fff
  padding 2rem 0

  a
    color #fff
    padding 0 0.25rem

    &:hover
      color $Amarillo
      
  .firma-footer
    img-responsive(block)
    margin 1rem auto
    max-width 15rem
