footer
  background-color $Azul
  // bottom 0
  color #fff
  padding 2rem 0
  // position absolute
  width 100%

  a
    color #fff
    padding 0 0.25rem

    &:hover
      color $Amarillo
      
  .firma-footer
    img-responsive(block)
    margin 1rem auto
    max-width 15rem
