header
	path('bg-login.jpg')
	background-repeat no-repeat
	background-size cover
	color #fff
	padding 0rem 1rem 2rem
	position relative
	text-align center
	width 100%
	z-index 0
	
	h1
		color #fff
		text-shadow 0px 0px 5px rgba(0, 0, 0,0.5)
		
	.logo
		background-color #fff
		box-shadow 0px 0px 5px 0px rgba(0, 0, 0, 0.5)
		margin 0 auto 3rem
		max-width 10rem
		padding 3.3rem 1rem
		
		svg
			img-responsive(block)
			margin 0 auto
			max-width 20rem
			width 100%