.container-toast
	background-color $Cyan
	border-radius 1rem
	bottom 1rem
	box-shadow 0px 5px 5px 0px rgba(0,0,0,0.3)
	color $Gris[2]
	left 50%
	margin 0
	opacity 0
	padding 1rem 2rem
	position fixed
	text-align center
	transform translateX(-50%) translateY(120%)
	transitionBase()
	width 90%
	z-index 30

	
	&.active
		opacity 0.99
		transform translateX(-50%) translateY(0)
		

	span
		color white
		margin 0
		font-size 1.8rem
		max-width 80%
		padding 0
	
	.btn-toast
		display block
		color $Amarillo
		



@media (min-width:640px)
	.container-toast
		.btn-toast
			display inline-block
			margin-left 4.8rem
			
@media (min-width:$screen-sm)
	.container-toast
		width auto