//Colores
$Azul              = #0d2d6c
$Amarillo          = #c3b578
$Cyan              = #4f8fcc
$Gris              = #e5e5e5 #a6a8ab #6d6e70 #f5f5f5
$Verde             = #45634F

//Fonts
$FontStack         = 'Prompt', Arial, sans-serif
$Icons             = 'Glyphicons Halflings'

//Font weights
$Bold              = 700
$Light             = 300
$Normal            = 400

//Site grid spacing and width
$Gutter            = 0.5rem
$SiteWidth         = 110rem

//Screen Sizes - Rewrite Bootstrap

// $screen-xs // 480px
$screen-sm         = 770px // 768px
// $screen-md //992px
$screen-lg         = 1100px // 1200px
$grid-gutter-width = $Gutter
