div.form-group
	input(type="text", placeholder="Nombre Cliente", value="{{client.nombre}}",[(ngModel)]="client.nombre")

div.form-group
	input(type="text", placeholder="Logo ", value="{{client.imagen}}",[(ngModel)]="client.imagen")

div.form-group
	input(type="text", placeholder="Color HEX", value="{{client.color}}",[(ngModel)]="client.color")

button.btn.btn-submit.btn-full(type="button",*ngIf="idClient == null || idClient == ''", (click)="setClient()") Crear Cliente
button.btn.btn-submit.btn-full(type="button",*ngIf="idClient != null && idClient != ''", (click)="setClient()") Editar Cliente

alert-toast